* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
.container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow-y: hidden;
   background-color: rgb(235, 235, 235)
}
.nutritionList,
.mealList,
.planList { 
  background-color: rgb(245, 245, 245);
  width: 33vw;
  overflow-y: auto ;
  margin: .3rem;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.27);
}
.nutritionList,
.mealList,
.planList { 
   background-color: rgb(245, 245, 245);
  width: 99vw;
  overflow-y: auto ;
}
.mealList {
  height: 40vh;
}
.planList {
  height: 50vh;
}
.nutritionList {
  height: 50vh;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.listTitleRow {
  display:flex;
  font-size: 1.1rem;
  font-weight: bold;
  align-content: center;
  justify-content: space-between;
  height: 1.5rem;
  margin: .3rem .6rem 0 .3rem;
}

.listTitle {

}

/* .nutritionValues {
  flex: 1 1 auto;
  display: flex;
  min-width: 0;

} */
.nutritionRow {
  display: flex;
  min-width: 0;
}
.nutritionName {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.nutritionValue {
  flex: 0 0 3rem;
  text-align: right;
}

.nutritionHeading {
  display: flex;
  min-width: 0;
  border-bottom: 1px solid black;
  margin-bottom: .2rem;
}
.nutritionSummary {
  display: flex;
  min-width: 0;
}


.card {
  background-color: #fff;
  padding: .5rem .5rem;
  margin: .5rem .5rem;
  border-radius: 2px;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.27);
}
.editMode {
  background-color: rgb(255, 253, 162)
}

.cardTitleRow {
  display:flex;
  font-size: 1.1rem;
  font-weight: bold;
  align-content: center;
  justify-content: space-between;
  height: 1.5rem;
}
.cardTitle {
  flex-grow: 1;
}
.cardContent {
  margin-top: .7rem;
}
.icons {
  display: inline-flex;
  align-items: center;
}
.icon {
  margin-left: .5rem;
  font-size: 1.1rem;
}
.summaryBorder {
  border-top: 2px solid black;
  margin-top: .2rem;
}

/* 
.IconWithTooltip {
  margin-left: 2rem;
} */